.product {
    display: flex;
    margin-right: 20px;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.product-name {
    margin-left: 20px;
    
}

.product-name h3 {
    font-weight: 400;
    font-size: 20px;    
    color: blue;
}

.product-name button {
    background-color: goldenrod;
    padding: 7px 20px;
    border: none;
    cursor: pointer;
}